<h1>Our Story</h1>

<h3>You Want Your Voice Heard.</h3>

<div class="container">

    <p id="about_paragraph">If you're here, you're like me: you want a voice. You're tired of all the
    experts around the NFL Draft. You say to yourself, "What??? That quarterback
    is awful!" or "I got a true sleeper for you...he's gonna blow your socks off!" <br>
    Well, for one thing I'd love to keep my socks on. And for another, you should
    have that right. We live in America after all? <br>
    So that leads me to My Draft Board. You can create your own draft board of
    50 players (we are working on adding more in a future update) that YOU created.<br>
    No one else!<br>Ready to get started?<br>Let's do this.
    </p>

</div>
<div class='container' style="text-align:center;">
  <button class:'btn btn-primary-outline' style="background-color: #5aaafa;">
    Create Your Own Board Now!
  </button>
</div>
