<h1>Contact Us!</h1>
<div class="container">
  <div class='row'>
    <div class="form-group col-md-8 offset-md-2" style="text-align:center;">
    <%= text_area_tag :name, nil, placeholder: 'Your message' %>
  </br>
    <%= submit_tag 'Send Message', class: 'btn',
    style: 'background-color: #5aaafa' %>
    </div>
  </div>
</div>
