<div class="container">
    <div class="text-center" id='Opening_animation'>
      <!-- <img class= 'animated bounceInDown' src="images/Bullets_Lines.png" width="59" length="154" class= "img-fluid" id="BulletLines"> -->
      <img class= 'animated slideInLeft' src="images/Football.png" width="198" length="361" class= "img-fluid" id="Big_Football">
    </div>
  </div>


<h1 class='text-center' id="Index_Title">MY DRAFT BOARD</h1>
