<div class="container">
    <div class="text-center">
      <img class= 'animated bounceInDown' src="images/Football.png" width="198" length="361" class= "img-fluid" id="Big_Football">
    </div>
  </div>


<h1 class='text-center' id="Index_Title">MY DRAFT BOARD</h1>
