<h1>All Boards</h1>
<div class= 'container'>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class='card' style="text-align:center;">
<% @boards.each do |board| %>
  <p><b><%= link_to board.name, boards_view_path(id: board.id) %></b> by
    <%= board.user.try(:username) %></p>
<% end %>
      </div>
    </div>
  </div>
</div>
