<h1><%= @board.name %></h1>

<div class='container' style="text-align:center;">
  <%= link_to 'View Board', boards_view_path(id: @player_board),
  class: 'btn', style: 'background-color: #5aaafa' %>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <%= render '/players/players' %>
      </div>
      <div class='col-md-6'>
      <%= render 'board_table' %>
      </div>
  </div>
</div>
