<h4 id='boardnamebig'><%= @board.name %></h4>

<div class='container' style="text-align:center;">
  <%= link_to 'View Board', boards_view_path(id: @board),
  class: 'btn', id: 'viewbutton' %>
</div>

<br />

<div class='container'>
  <div class='row'>
    <div class='col-md-6' id='left_board'>
      <%= render '/players/players' %>
      </div>
      <div class='col-md-6' id='right_board'>
      <%= render 'board_table' %>
      </div>
  </div>
</div>
