<h1><%= @board.name %></h1>

<div class='container' style="text-align:center;">
  <div class='row'>
      <div class='col-md-6 offset-md-3'>
      <%= render 'board_table' %>
      </div>
  </div>
</div>
