<div class='container'>
  <h2 style="text-align:left;">Players</h2>

<br />
<div class='row'>
  <div class="btn-toolbar" role="toolbar">
    <% @player_map.each do | abv, name | %>
      <div class="btn-group btn-group-sm" role="group">
        <%= link_to " " + name + " ", all_players_path(position: abv), class: 'btn', id: 'all_players_button_' + abv, remote: true %>
    </div>
    <% end %>
    </div>
  </div>
    <%= render 'all_players' %>
</div>
