
@import 'bootstrap';
@import 'welcome';
@import 'boards';
@import 'players';
@import 'font-awesome';

$primary-color: #5aaafa;
$secondary-color: #152935;

@font-face {
  font-family: 'IBM Plex Sans';
}

#Index_Title {
  font-family: "IBM Plex Sans";
  font-weight: bold !important;
}

nav {
  background-color: $secondary-color;
  font-family: "IBM Plex Sans";
  display: inline;
}

h1, h2 {
  font-family: "IBM Plex Sans Light";
  color: $secondary-color;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-family: "IBM Plex Sans Semibold";
  color: $primary-color;
  text-align: center;
}

p {
  font-family: "IBM Plex Sans";
  font-size: 12;
}

#sign_in_out {
  float: right;
}

.avatar {
    height: 80px;
    width: 80px;
    border: 2px solid;
    border-radius: 80px;
    padding: 4px;
    align-self: center;
  }

.form-group {
    font-family: "IBM Plex Sans";
  }

.thead {
  color: #152935;
  font-family: "IBM Plex Sans Semibold";
  font-size: 14px;
}

#accordionheader {
  background-color: #F5F7FA !important;
}

#accordionbutton {
  color: #152935 !important;
  border: 0px !important;
}

.container {
  padding: 5px;
}

.btn {
  color: #3D70B2;
  border: 2px solid;
  border-color: #3D70B2;
  font-family: "IBM Plex Sans Bold";
}

#navbar_avatar {
  height: 34px;
  width: 34px;
  display: inline-block;
  border: 2px solid;
  border-radius: 34px;
  border-color: white;
  padding: 4px;
  align-self: center;
}

.card {
  background-color: #DFE3E6;
}

table {
  border-spacing: 50px 0;
  font-family: "IBM Plex Sans";
}

td {
  padding: 7px 0;
}

#downloadbutton {
  color: #8C9BA5 !important;
  border: 0px !important;
}

#card_header_1 {
  color: white;
  text-align: center;
  background-image: url("/images/Card_1_BG.png") !important;
  background-size: cover;
  height: 150px;
  width: 100%;
  font-weight: lighter !important;
  font-size: 56px;
}

#card_header_2 {
  color: white;
  text-align: center;
  font-size: 56px;
  background-image: url("/images/Card_2_BG.png") !important;
  background-size: cover;
  height: 150px;
  font-weight: lighter !important;
  width: 100%;
}

#card_header_3 {
  color: white;
  text-align: center;
  font-size: 56px;
  background-image: url("/images/Card_3_BG.png") !important;
  background-size: cover;
  height: 150px;
  font-weight: lighter !important;
  width: 100%;
}

br {
  color: #3D70B2;
  height: 2px;
}
