$secondary-color: #152935;

.card-header {
  background-color: $secondary-color;
}

h4{
  font-family: "IBM Plex Sans Light" !important;
  text-align: center;
  font-size: 54px;
  font-weight: lighter;
  color: $secondary-color;
}

h6 {
  font-family: "IBM Plex Sans Light" !important;
  text-align: center;
  font-weight: lighter;
}
